<body>

  <h1>
    <u>
    Welcome to Angular Validation
    </u>
  </h1><br>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-Group">
      <label for="uname">Name : </label>
      <input
      formControlName="uname"
      id="uname"
      type="text"
      class="form-Control">
      <div *ngIf="f['uname'].touched && f['uname'].invalid"
      class="alert alert-danger">
      <div *ngIf="f['uname'].errors && f['uname'].errors['required']">--Name is required--</div>
      <div *ngIf="f['uname'].errors && f['uname'].errors['minlength']">--Minimum 3 characters required--</div>
    </div>
    </div><br>
    <div class="form-Group">
      <label for="email">Email : </label>
      <input
      formControlName="email"
      id="email"
      type="text"
      class="form-Control">
      <div *ngIf="f['email'].touched && f['email'].invalid"
      class="alert alert-danger">
      <div *ngIf="f['email'].errors && f['email'].errors['required']">--Email is required--</div>
      <div *ngIf="f['email'].errors && f['email'].errors['email']">--Enter a valid email address--</div>
    </div>
    </div><br>
   
    <div class="form-Group">
      <label for="phone">Phone : </label>
      <input
      formControlName="phone"
      id="phone"
      type="number"
      class="form-Control">
      <div *ngIf="f['phone'].touched && f['phone'].invalid"
      class="alert alert-danger">
      <div *ngIf="f['phone'].errors && f['phone'].errors['required']">--Phone is required--</div>
      <div *ngIf="f['phone'].errors && !f['phone'].errors['minlength']">--Minimum 10 characters required--</div>
    </div>
    </div> <br>
    
    <div class="form-Group">
      <label for="date">Date : </label>
      <input
      formControlName="date"
      id="date"
      type="date"
      class="form-Control">
      <div *ngIf="f['date'].touched && f['date'].invalid"
      class="alert alert-danger">
      <div *ngIf="f['date'].errors && f['date'].errors['required']">--Date is required--</div>
    </div>
    </div> <br>

    <div class="form-Group">
      <label for="body">Body : </label>
      <input
      formControlName="body"
      id="body"
      type="text"
      class="form-Control">
      <div *ngIf="f['body'].touched && f['body'].invalid"
      class="alert alert-danger">
      <div *ngIf="f['body'].errors && f['body'].errors['required']">--Body is required--</div>
    </div>
    </div>
    <br><br>
    <button class="btn btn-primary" 
    type="submit">Submit</button>

  </form>
  <h4>
    This project is done by Ishita :)
  </h4>
</body>
